$background-black: rgba(18, 18, 18, 1);
$footer-image: url(../../assets/footer/rect.png);
$social-icon-bg: black;
$background: rgba(255, 255, 255, 1);

.footerSection {
  position: relative;
}

.footer {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 0;
    background-image: $footer-image;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    z-index: -1;
  }
}

.div2 {
  border-radius: 6px;
  background: $background-black;
  height: 491px;
}

.socialIcons {
  background-color: $social-icon-bg;
  border-radius: 50%;
}

.bgBlue {
  background-image: url(../../assets/footer/rect.png);
  height: 238px;
  width: 100%;
}

.rowDiv {
  background-color: $background;
}
#name , #email{
  width: 345px;
height: 50px;
top: 96px;
left: 598px;
gap: 0px;
border-radius: 6px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
#message{
  width: 702px;
height: 150px;
top: 206px;
left: 598px;
gap: 0px;
border-radius: 6px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}