<div class="container-fluid px-5 footerSection">
  <div class="footer d-flex justify-content-center align-items-center">
    <div class="row shadow p-5 d-flex justify-content-between w-75 rowDiv">
      <div class="col-md-5 div2 text-white p-5 m-auto blackDiv">
        <div class="pb-5">
          <h3>Contact Information</h3>
          <p>Our team will promptly respond to your inquiry.</p>
        </div>
        <ul class="ps-0">
          <li class="py-2 pb-3">
            <i class="fa-solid fa-phone-volume"></i>
            <span class="px-2">(+2) 0 12 1214 2024</span>
          </li>
          <li class="py-2 pb-3">
            <i class="fa-solid fa-envelope"></i>
            <span class="px-2"> info@SoftPrograms-eg.com</span>
          </li>
          <li class="py-2 pb-5">
            <i class="fa-solid fa-location-dot"></i>
            <span class="px-2">114 EL-Haram st., Giza, Egypt.</span>
          </li>
        </ul>
        <div class="d-flex justify-content-between">
          <div class="">
            <a> <i class="fa-brands fa-facebook-f p-3 socialIcons m-1"></i> </a>
            <a>
              <i class="fa-brands fa-linkedin-in p-3 socialIcons m-1"></i>
            </a>
          </div>
          <img src="assets/footer/Group 29.png" />
        </div>
      </div>
      <div class="col-md-7 d-flex flex-column">
        <form class="d-flex flex-column flex-grow-1">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder=""
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder=""
              />
            </div>
          </div>
          <div class="mb-3 flex-grow-1">
            <label for="message" class="form-label">Your Message</label>
            <input
              class="form-control"
              id="message"
              rows="3"
              style="height: 150px"
            />
          </div>
          <div class="text-center mt-auto">
            <button type="submit" class="btn main-btn px-5 py-3">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="text-white d-flex align-items- justify-content-between w-75 m-auto pt-5"
  >
    <div>
      <img src="assets/footer/Group 32.png" />
    </div>
    <div>
      <p>©Copyright SoftPrograms 2024 . All Rights Reserved</p>
    </div>
  </div>
</div>
