<div class="container-fluid">
    <section class="section1 py-5">
      <div class="mainService">
        <div class="serviceSection text-white p-5">
          <h1 class="px-5 pb-3">About Us</h1>
          <p class="px-5 pb-3 w-75">
            SoftPrograms Technology is an Egyptian limited liability company,
            established at the beginning of the year 2020, and the company’s main
            headquarters is located in Cairo Governorate in the Arab Republic of
            Egypt, in addition to the company’s branch in the Authority of Oman.
            We always focus on customer satisfaction, specifically by providing
            solutions High quality IT services through instill a culture of
            quality in the organizational culture that inspires the work team to
            follow quality policies and procedures until they become accustomed to
            doing so. SoftPrograms Technology is an Egyptian limited liability
            company, established at the beginning of the year 2020, and the
            company’s main headquarters is located in Cairo Governorate in the
            Arab Republic of Egypt, in addition to the company’s branch in the
            Authority of Oman. We always focus on customer satisfaction,
            specifically by providing solutions High quality IT services through
            instill a culture of quality in the organizational culture that
            inspires the work team to follow quality policies and procedures until
            they become accustomed to doing so.
          </p>
        </div>
      </div>
    </section>
    <section class="section2 m-auto text-white ">
      <div class="d-flex justify-content-between">
        <div class="p-0 m-0 bgBlue">
          <h2 class="p-5 pb-3">Our Mission</h2>
          <p class="px-5">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie consequat, vel illum dolore eu feugiat
          </p>
        </div>
        <div class=""></div>
      </div>
      <div class="d-flex justify-content-between">
        <div  class="">
        </div>
        <div class="p-0 m-0 bgBlack">
          <h2 class="p-5 pb-3">Our Vision</h2>
          <p class="px-5">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie consequat, vel illum dolore eu feugiat
          </p>
        </div>
      </div>  
    </section>
    <section class="section3 py-5">
      <h2 class="text-center">Meet Our Team</h2>
    </section>
    <h1 class="text-center py-5">Our Tech Partners</h1>
    <section class=" section4 py-5 m-auto bgImgSlider">
      <div class="container h-100 m-auto ">
        <div class="row  h-100 ">
          <div class="container rounded m-auto ">
            <div class="slider">
              <div class="logos">
                <img src="../../assets/about/2 1.png" class="fab">
                <img src="../../assets/about/3 1.png" class="fab">
                <img src="../../assets/about/4 1.png" class="fab">
                <img src="../../assets/about/5 1.png" class="fab">
                <img src="../../assets/about/6 1.png" class="fab">
              </div>
              <!-- <div class="logos">
                <img src="../../assets/about/2 1.png" class="fab">
                <img src="../../assets/about/3 1.png" class="fab">
                <img src="../../assets/about/4 1.png" class="fab">
                <img src="../../assets/about/5 1.png" class="fab">
                <img src="../../assets/about/6 1.png" class="fab">
              </div> -->
            </div>
          </div>
        </div>
      
      </div>
    </section>
    <section class="py-5"></section>
  </div>
  