<div class="container-fluid  ">
    <div class="mainService">
      <div class="serviceSection text-white  p-5 ">
        <h1 class="px-5 pb-3">IT Support Services</h1>
        <ul class="px-5">
            <li class="py-2">
              <img src="assets/home/Group.png" alt="" />
              <span class="px-2">Functionality Unlocking</span>
            </li>
            <li class="py-2">
              <img src="assets/home/Group.png" alt="" />
              <span class="px-2">System Availability</span>
            </li>
            <li class="py-2">
              <img src="assets/home/Group.png" alt="" />
              <span class="px-2">Responce time</span>
            </li>
            <li class="py-2">
                <img src="assets/home/Group.png" alt="" />
                <span class="px-2">Technology Components Certification</span>
              </li>
              <li class="py-2">
                <img src="assets/home/Group.png" alt="" />
                <span class="px-2">End User Satisfaction</span>
              </li>
          </ul>
    </div>
    </div>
        <div class="p-5">
            <h1 class="h2">What we can do within this service ?</h1>
            <div class="row text-center py-3 d-flex justify-content-between align-items-center">
              <div class="col-sm-4 borderItem d-flex justify-content-center align-items-center">
                <p class="">Oracle EBS Release Upgrade.</p>
              </div>
              <div class="col-sm-4 borderItem d-flex justify-content-center align-items-center">
                <p class="">Oracle EBS Release Upgrade.</p>
              </div>
              <div class="col-sm-4 borderItem d-flex justify-content-center align-items-center ">
                <p class="">Oracle EBS Release Upgrade.</p>
              </div>
            </div>
            <div class="row text-center py-3 d-flex justify-content-between align-items-center">
              <div class="col-sm-4 borderItem d-flex justify-content-center align-items-center ">
                <p class="">Oracle EBS Release Upgrade.</p>
              </div>
              <div class="col-sm-4 borderItem d-flex justify-content-center align-items-center">
                <p class="">Oracle EBS Release Upgrade.</p>
              </div>
              <div class="col-sm-4 borderItem d-flex justify-content-center align-items-center">
                <p class="">Oracle EBS Release Upgrade.</p>
              </div>
            </div>
        </div>
    </div>