<section class="timeline-carousel">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center mb-5">
        <h2 class="text-center">Our Products</h2>
      </div>
    </div>
  </div>
  <div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
    <!--Timeline item-->
    <div class="timeline-carousel__item">
      <div class="timeline-carousel__image">
        <div class="text-center">
          <img src="/assets/home/home1 (1).png" class="text-center w-100" />
        </div>
      </div>
      <div class="timeline-carousel__item-inner">
        <span class="month">Chambers Business Management</span>
      </div>
    </div>
    <!--/Timeline item-->
  </div>
</section>
