<div class="container-fluid">
    <div class="mainDiv">
      <div class="productSection text-white p-5">
        <h1 class="py-3">Chambers Business Management</h1>
        <p class="">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
          nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
          wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
          iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
          illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
          odio dignissim qui blandit praesent luptatum zzril delenit augue duis
          dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
          exerci tation ullamcorper suscipit lobortis nisl
        </p>
      </div>
    </div>
  
    <div class="p-5 text-center">
      <h2>Modules of this product</h2>
      <div class="row py-5 m-auto">
        <div class="col-sm-2 m-auto">
          <img src="../../assets/product/arrow 4.png">
        </div>
        <div class="col-sm-4 numberDiv">
          <p class="numberClass p-3 text-center">1</p>
          <table class="tableStyle ">
            <thead>
              <tr>
                <th class="pt-5">Chamber Services</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="p-4 pColor ">
                  responsible for the services that take place within the room and
                  automating each service separately according to its
                  documentation cycle
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4 numberDiv">
          <p class="numberClass p-3 text-center">2</p>
          <table class="tableStyle ">
            <thead>
              <tr>
                <th class="pt-5">Chamber Services</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="p-4 pColor">
                  responsible for the services that take place within the room and
                  automating each service separately according to its
                  documentation cycle
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 m-auto">
          <img src="../../assets/product/arrow 3.png">
  
        </div>
      </div>
    </div>
    <div class="p-5">
      <h2 class="">Technologies we use</h2>
      <div class="row text-center d-flex justify-content-between m-auto py-3">
        <div class="col-sm-3 borderItem p-4">Oracle EBS Release Upgrade.</div>
        <div class="col-sm-3 borderItem p-4">Oracle EBS Platform Migration.</div>
        <div class="col-sm-3 borderItem p-4">
          Database and EBS Performance Tuning.
        </div>
        <div class="col-sm-3 borderItem p-4">
          Database and EBS Performance Tuning.
        </div>
      </div>
      <div class="row text-center d-flex justify-content-between m-auto">
        <div class="col-sm-3 borderItem p-4">Business Continuity Solutions.</div>
        <div class="col-sm-3 borderItem p-4">High Availability Solutions.</div>
        <div class="col-sm-3 borderItem p-4">Backup and Recovery Solutions.</div>
        <div class="col-sm-3 borderItem p-4">
          Database and EBS Performance Tuning.
        </div>
      </div>
    </div>
    <div class="p-5 sneakSection text-center">
      <h3>A sneak peek of this product</h3>
      <img src="../../assets/product/Top iPad 9.7 Inch.png">
    </div>
    <!-- <div class="p-5 text-center ">
      <h3>Current Clients</h3>
      <div class="curentClient">
        <div class="bg-white boxDiv p-4">
          <img src="../../assets/product/c3 1.png">
          <hr>
          <p class="pt-5">Egyptian Chamber of commerce in Alexandria</p>
        </div>
      </div>
    </div> -->
  </div>
  