<div class="container-fluid">
  <section class="section1 py-5">
    <div class="row imageContainer align-items-center div1">
      <div class="col-md-6 py-5 px-5">
        <img src="assets/home/arrow.png" alt="" class="arrow" />
        <h1 class="">Let's Elevating Businesses with Digital Solutions</h1>
        <p class="pColor">
          At softprograms technology, we're more than just a software company;
          we're innovators, problem solvers, and partners in your digital
          journey. Our mission is to empower businesses and individuals by
          harnessing the power of cutting-edge technology.
        </p>
        <ul class="ps-0">
          <li class="py-2">
            <img src="assets/home/Group.png" alt="" />
            <span class="px-2">Consistency And Accurancy</span>
          </li>
          <li class="py-2">
            <img src="assets/home/Group.png" alt="" />
            <span class="px-2">Reliability</span>
          </li>
          <li class="py-2">
            <img src="assets/home/Group.png" alt="" />
            <span class="px-2">Actionable Insights</span>
          </li>
          <li class="py-2">
            <a routerLink="/contact" class="btn main-btn px-5 py-3 my-3"
              >Reach Out</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-6 w-50 d-flex justify-content-right">
        <img src="assets/home/Frame 1 (1).png" class="" />
      </div>
    </div>
  </section>
  <section class="Section2 py-5">
    <div class="">
      <h2 class="text-bold px-5">About Us</h2>
    </div>
    <div
      class="divBckground w-100 d-flex justify-content-between align-items-center p-5"
    >
      <div class="text-container w-50">
        <p class="w-100 p-5 pColor">
          SoftPrograms Technology is an Egyptian limited liability company,
          established at the beginning of the year 2020, and the company’s main
          headquarters is located in Cairo Governorate in the Arab Republic of
          Egypt, in addition to the company’s branch in the Authority of Oman.
          We always focus on customer satisfaction, specifically by providing
          solutions High quality IT services through instill a culture of
          quality in the organizational culture that inspires the work team to
          follow quality policies and procedures until they become accustomed to
          doing so.
        </p>
      </div>
      <div
        class="image-container p-5 w-50 d-flex align-items-center justify-content-center"
      >
        <img src="assets/home/About us Image.png" class="" />
      </div>
    </div>
    <div class="px-5">
      <a routerLink="/about" class="btn main-btn px-5 py-3 my-3 btnPosition"
        >Read More</a
      >
    </div>
  </section>
  <section class="Section3 py-5" id="Section3">
    <h2 class="text-center">Explore Our Services</h2>
    <div class="row m-auto">
      <div
        class="col-md-3 bgImg1 text-white text-center d-flex align-items-end justify-content-center m-auto"
      >
        <!-- <p class="p-5">IT Support Services</p> -->
      </div>
      <div class="col-md-8 m-auto">
        <div class="row w-100">
          <div class="col-md-4 py-3">
            <a href="/service">
              <div class="d-flex flex-column align-items-center p-5 shadow">
                <img
                  src="assets/home/Frame-2.png"
                  style="width: 50px"
                  alt=""
                  class=""
                />
                <p class="">Web Apps Development</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 py-3">
            <a href="/service">
              <div class="d-flex flex-column align-items-center p-5 shadow">
                <img
                  src="assets/home/Frame-2.png"
                  style="width: 50px"
                  alt=""
                  class=""
                />
                <p class="">Web Apps Development</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 py-3">
            <a href="/service">
              <div class="d-flex flex-column align-items-center p-5 shadow">
                <img
                  src="assets/home/Frame-2.png"
                  style="width: 50px"
                  alt=""
                  class=""
                />
                <p class="">Web Apps Development</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 py-3">
            <a href="/service">
              <div class="d-flex flex-column align-items-center p-5 shadow">
                <img
                  src="assets/home/Frame-2.png"
                  style="width: 50px"
                  alt=""
                  class=""
                />
                <p class="">Web Apps Development</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 py-3">
            <a href="/service">
              <div class="d-flex flex-column align-items-center p-5 shadow">
                <img
                  src="assets/home/Frame-2.png"
                  style="width: 50px"
                  alt=""
                  class=""
                />
                <p class="">Web Apps Development</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 py-3">
            <a href="/service">
              <div class="d-flex flex-column align-items-center p-5 shadow">
                <img
                  src="assets/home/Frame-2.png"
                  style="width: 50px"
                  alt=""
                  class=""
                />
                <p class="">Web Apps Development</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1 bgImg2 m-auto"></div>
    </div>
  </section>
  <section class="section4 py-5">
    <div class="testDiv text-white">
      <h2 class="py-5 text-center">Why you choose our service ?</h2>
      <div class="row">
        <div class="lineImg">
          <img src="../../assets/home/rec3m.png" />
        </div>
        <div class="col-md-4">
          <div class="">
            <span
              class="bg-white m-auto"
              style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <img src="/assets/home/icons (1).png" />
            </span>
            <h3 class="py-2 h5 text-center">Innovative Solutions</h3>
            <p class="text-center w-75 m-auto">
              we care about quality assurance processes, ensuring that the
              software you deliver is of the highest quality, reliable, and free
              from bugs or glitches.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <span
              class="bg-white m-auto"
              style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <img src="/assets/home/icons (1).png" />
            </span>
            <h3 class="py-2 h5 text-center">Innovative Solutions</h3>
            <p class="text-center w-75 m-auto">
              we care about quality assurance processes, ensuring that the
              software you deliver is of the highest quality, reliable, and free
              from bugs or glitches.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <span
              class="bg-white m-auto"
              style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <img src="/assets/home/icons (1).png" />
            </span>
            <h3 class="py-2 h5 text-center">Innovative Solutions</h3>
            <p class="text-center w-75 m-auto">
              we care about quality assurance processes, ensuring that the
              software you deliver is of the highest quality, reliable, and free
              from bugs or glitches.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section5 py-5">
    <div class="bgDiv6">
      <app-contact></app-contact>
    </div>
  </section>
  <section class="section6 py-5">
    <h2 class="text-center text-white pb-5">
      Our policy in implementing projects
    </h2>
    <div
      class="row w-75 d-flex justify-content-between align-items-center m-auto"
    >
      <div class="col-md-4 box">
        <div class="text-center pt-5">
          <button class="btn btnS text-white">PMI</button>
        </div>
        <div>
          <p class="text-white p-4 text-center">
            Our projects based on the Project Management Institute (PMI) project
            management guidelines to ensure that the required project objectives
            are achieved in the required timing
          </p>
        </div>
      </div>
      <div class="col-md-4 box box2">
        <div class="text-center pt-5">
          <button class="btn btnS text-white">PMI</button>
        </div>
        <div>
          <p class="text-white p-4 text-center">
            Our projects based on the Project Management Institute (PMI) project
            management guidelines to ensure that the required project objectives
            are achieved in the required timing
          </p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <img src="assets/home/loop.png" />
        </div>
      </div>
      <div class="col-md-4 box">
        <div class="text-center pt-5">
          <button class="btn btnS text-white">PMI</button>
        </div>
        <div>
          <p class="text-white p-4 text-center">
            Our projects based on the Project Management Institute (PMI) project
            management guidelines to ensure that the required project objectives
            are achieved in the required timing
          </p>
        </div>
      </div>
    </div>
  </section>
  <h1 class="text-center py-5">Our Clients</h1>
  <section class="section7 py-5 m-auto bgImgSlider">
    <div class="container h-100 m-auto">
      <div class="row h-100">
        <div class="container rounded m-auto">
          <div class="slider">
            <div class="logos">
              <img src="../../assets/home/logo (1).png" class="fab" />
              <img src="../../assets/home/logo (2).png" class="fab" />
              <img src="../../assets/home/logo (3).png" class="fab" />
              <img src="../../assets/home/logo (4).png" class="fab" />
              <img src="../../assets/home/logo (5).png" class="fab" />
            </div>
            <!-- <div class="logos">
                <img src="../../assets/home/logo (1).png" class="fab">
                <img src="../../assets/home/logo (2).png" class="fab">
                <img src="../../assets/home/logo (3).png" class="fab">
                <img src="../../assets/home/logo (4).png" class="fab">
                <img src="../../assets/home/logo (5).png" class="fab">
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5"></section>
</div>
